@charset "utf-8";

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


.center-smart {
	margin-right:-30px;
}

footer {
	height:350px;
}

.content-wrapp {
	
}

.center-home-smart {
	margin-right:-60px;
}

.center-header-smartphone {
	margin-right:-60px;
}

.center-footer-smartphone {
	margin-right:-60px;
}

.patient-banner-subtitle2 {
	float: left;
	width: 900px;
	padding: 30px 45px 50px 45px;
}

.experts-banner-subtitle {
	float: left;
	width: 990px;
	margin-left:-100px;
	font-size:23px;
}

.physician-banner-subtitle {
	float: left;
	width: 900px;
	padding: 0px 0px 45px 45px;
	font-size:23px;
}


}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

.center-smart {
	margin-right:-30px;
}

footer {
	height:350px;

}

.content-wrapp {
	
}

.center-home-smart {
	margin-right:-60px;
}

.center-header-smartphone {
	margin-right:-60px;
}

.center-footer-smartphone {
	margin-right:-60px;
}

.patient-banner-subtitle2 {
	float: left;
	width: 900px;
	padding: 30px 45px 50px 45px;
}

.experts-banner-subtitle {
	float: left;
	width: 990px;
	margin-left:-100px;
	font-size:23px;
}

.physician-banner-subtitle {
	float: left;
	width: 990px;
	padding: 0px 0px 45px 0px;
	font-size:23px;
}


}