/*
Theme Name: Admed
Theme URI: einnovart.hu
Author: einnovart
Author URI: https://einovart.com/
Description: Custom theme Admed.
Version: 8.6
*/
@import url('css/base.css');
@import url('css/base-smartphone.css');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 22px;
    font-weight: 300;
}

h1 {
    margin: inherit;
}

h2 {
    font-size: 25px;
    line-height: 2em;
}

h3 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    font-size: 20px;
}

em {
    font-style: italic;
}

.bg-white {
    background: #fff;
}

.page-custom ul {
    list-style: initial;
    padding-left: 40px;
}

.page-custom {
    padding: 40px 0 40px;
    /*padding: 40px;*/
}

#subpagecontent {
    margin-top: 60px;
}

.page-custom h2 {
    font-size: inherit;
    line-height: inherit;
}

.page-custom div#expert-infofaq-txt {
    margin-bottom: 30px;
    border-bottom: 1px solid #9fd6f5;
    padding-bottom: 30px;
}

.orvosi-szakvelemeny .col-md-3, .page-id-105 .col-md-3 {
    background-color: #dbeefd;
    /*margin-right: 4px;*/
    margin-bottom: 15px;
    text-align: center;
    padding-bottom: 30px;
    min-height: 396px;
    background: #dbeefd;
    background: -moz-linear-gradient(left, #dbeefd 0%, #f4f6f7 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #dbeefd), color-stop(100%, #f4f6f7));
    background: -webkit-linear-gradient(left, #dbeefd 0%, #f4f6f7 100%);
    background: -o-linear-gradient(left, #dbeefd 0%, #f4f6f7 100%);
    background: -ms-linear-gradient(left, #dbeefd 0%, #f4f6f7 100%);
    background: linear-gradient(to right, #dbeefd 0%, #f4f6f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbeefd', endColorstr='#f4f6f7', GradientType=1);
}

.page-id-105 .col-md-3 {
    text-align: left;
    min-height: 501px;
}

.page-id-105 .col-md-3 h3 {
    text-align: center;
    border-bottom: solid 1px #002a54;
    position: relative;
    min-height: 40px;
    margin-bottom: 15px;
}

.contact-box {
    margin-top: -67px;
    float: left;
    width: 185px;
    height: 185px;
    border: solid 2px #007fd0;
    border-radius: 104px;
}

.contact-box-content span {
    font-size: 24px;
}

.orvosi-szakvelemeny .col-md-3 .title {
    border-bottom: solid 1px #002a54;
    margin-bottom: 15px;
}

.hero {
    /*background: url(img/hero.jpg);*/
    background: url(img/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-position-y: 60%;
    height: 90vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.justify {
    text-align: justify;
}

.header-bg {
    background-color: transparent;
}

/*.blue-degree-bg {*/
/*background: transparent;*/
/*}*/

section.subhero-section.blue-degree-bg {
    /*height: 344px;*/
    height: 400px;
    /*margin-bottom: 28px;*/
}

.home-box {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.navbar-toggle .icon-bar {
    background: #3c92a7;

}

.fa {
    font-size: 20px;
    color: #6b6766;
}

.fa:hover {
    color: rgb(67, 172, 240);;
}

.nav.navbar-nav.left a, nav#footermenu-left ul li a, .footer-submenu ul li a {
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6b6766;
    font-family: "lato", "sans-serif";
}

.circle-shadow {
    margin-top: 70px;
}

.nav.navbar-nav.left a:hover {
    color: rgb(67, 172, 240);
}

.overlay {
    background-color: rgba(89, 122, 173, 0.31);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

.nav.navbar-nav.left .dropdown-menu li a {
    color: gray;
    font-size: 12px;
    font-family: "lato", "sans-serif";
    letter-spacing: 0.9px;
    font-weight: 300;
    padding: 15px;
}

.nav.navbar-nav.left .dropdown-menu li a:hover {
    background-color: transparent;
    color: rgb(67, 172, 240);
}

.boxes {
    background: url("img/home-box.jpg");
}

.home-box-btn {
    padding: 7px 10px 27px 30px;
}

.home-btn {
    padding-left: 30px;
    background-color: #007fd0;
    padding-right: 10px;
    margin-top: 25px;
    letter-spacing: 1.3px;
}

.home-botontext {
    height: 19px;
    padding-left: 8px;
    border-left: 2px solid #fff;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}

.home-separador {
    width: 138px;
    height: 1px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #c6c8cb;
}

.boxes-1 {

}

.box-1-left {
    background: url("img/box-1.png");
    background-repeat: no-repeat;

}

.box-3-left {
    background: url("img/box-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    left: 5px;
    top: 30px;
}

.home-box-txt-s {
    padding-top: 15px;
}

.footer-sep {
    width: 60%;
}

footer {

    border-top: solid 1px rgba(132, 181, 204, 0.3);
    background-color: #eaeef7;
}

.footer-c-1 {
    background: url("img/home-box.jpg");
}

.navbar-brand {
    line-height: 2;
    letter-spacing: 2.8px;
    font-weight: 200;
    margin-right: 30px;
}

.navbar-brand em {
    font-weight: 500;
}

.slogen {
    position: absolute;
    top: 266px;
    right: 138px;
    text-align: right;
    background-repeat: no-repeat;
    background-size: 40%;
}

.slogen p {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    padding-top: 15px;
}

.navbar-admed {
    background: #fff;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 30px 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    margin: 0;
    border-bottom: solid 1px rgba(132, 181, 204, 0.3);
}

.single-post .post-single {
    padding-top: 120px;
    padding-bottom: 40px;
}

.navbar-admed.affix {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    padding: 10px 0;
}

.navbar-brand {
    height: auto;
}

.navbar {
    min-height: 40px;
}

.navbar-brand {
    background-image: url('img/logo.jpg');
    background-size: cover;
    width: 120px;
    height: 35px;
    margin-top: 4px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-left: 15px !important;
}

.affix-top {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
}

.affix {
    left: 0;
    right: 0;
    z-index: 1000;
}

.affix .navbar-brand {
    /*margin-top: 5px;*/
    /*width: 200px;*/
    /*height: 30px;*/
}

#testimonials {
    background-color: #eaeef7;
    padding: 130px 0;
}

#our-vision, #mapsection {
    background-color: #eaeef7;
    padding: 130px 0;
}

#our-vision {
    background-image: url(img/fa01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 15%;
    background-position-y: 39px;
}

#testimonials {
    background-image: url(img/seintmann.png);
    background-repeat: no-repeat;
    background-position-x: 86%;
    background-position-y: 36px;
}

#mapsection {
    background-image: url(img/map.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 10%;
}

.herobottom {
    margin-bottom: 74vh;
}

.page-id-12 .subhero,
.page-id-24 .subhero,
.page-id-103 .subhero,
.page-id-105 .subhero,
.page-id-109 .subhero,
.page-id-107 .subhero,
.page-id-111 .subhero,
.page-id-84 .subhero,
.page-id-91 .subhero,
.page-id-98 .subhero,
.page-id-274 .subhero {
    margin-top: 100px;
    height: 273px;
    width: 100%;
    background-repeat: no-repeat;
    /*background-position-x: 60px;*/
}

/*
 * pharma
 */
/*.page-id-24 .subhero,
.page-id-103 .subhero,
.page-id-105 .subhero,
.page-id-107 .subhero,
.page-id-109 .subhero,
.page-id-111 .subhero {
    background: url(img/pharma.png);
    background-size: cover;
}*/

.page-id-274 .subhero {
    margin-top: 100px;
    /*height: 244px;*/
    height: 344px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 63px;
    background-position-y: -11px;
}

.page-id-12 .container.header-image,
.page-id-84 .container.header-image,
.page-id-91 .container.header-image,
.page-id-98 .container.header-image,
.page-id-103 .container.header-image,
.page-id-105 .container.header-image,
.page-id-107 .container.header-image,
.page-id-278 .subhero-section > .container,
.page-id-24 .subhero-section > .container,
.page-id-109 .subhero-section > .container,
.page-id-15 .subhero-section > .container,
.page-id-111 .subhero-section > .container,
.page-template-vallalati-egeszseg .subhero-section > .container,
.page-template-vallalati-egeszseg-aloldalak .subhero-section > .container,
.page-template-page-with-header-img .subhero-section > .container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

/* nemzetközi orvosi szakvélemény */
.page-id-12 .subhero {
    /*background-image: url(img/img-why-advance.png);*/
    background: url(img/nemzetkozi_orvosi_szakvelemeny.png);
    background-size: cover;
}

/*
 * p: nemzetközi orvosi szakvélemény aloldalak
 * subp: miert_az_advance
 */
.page-id-84 .subhero {
    background: url(img/nemzetkozi-orvosi-szakvelemeny-subpage/miert_az_advance.png);
    background-size: cover;
}

/*
 * p: nemzetközi orvosi szakvélemény aloldalak
 * subp: korlatlan_szakertoi_bazis
 */
.page-id-91 .subhero {
    background: url(img/nemzetkozi-orvosi-szakvelemeny-subpage/korlatlan_szakertoi_bazis.png);
    background-size: cover;
}

/*
 * p: nemzetközi orvosi szakvélemény aloldalak
 * subp: case_manager_orvosaink
 */
.page-id-98 .subhero {
    background: url(img/nemzetkozi-orvosi-szakvelemeny-subpage/case_manager_orvosaink.png);
    background-size: cover;
}

.page-id-24 li.back-button {
    display: none !important;
}

.banner-experts-small {
    padding: 63px 156px 0 10px;
    opacity: 1;
}

/*.page-id-109 .subhero,*/
.single-post .subhero {
    background-image: url(img/Szakmai%20blog.png);
    background-size: cover;
}

/*.page-id-111 .subhero,*/
.page-id-274 .subhero,
.page-id-289 .subhero {
    background: url(img/callcenter.png);
    background-size: cover;
}

.page-id-274 .subhero-section > .container,
.page-id-289 .subhero-section > .container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

ul.none-list {
    list-style: none;
}

ul.none-list li {
    margin-bottom: 7px;
}

.map {
    margin-left: -15px;
    margin-right: -15px;
}

.gm-style.place-card-large {
    display: none !important;
}

input.ninja-forms-field[type="button"] {
    background-color: #007fd0;
    letter-spacing: 1.3px;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

input.ninja-forms-field[type="button"]:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.maincontent h1 {
    line-height: 32px;
    margin: 40px 0px 30px;
    font-size: 30px;
    text-transform: uppercase;
    color: #003D6D;
    text-align: center;
}

.maincontent h2 {
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 25px;
    color: #003D6D;
}

#map_canvas {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.ninjaformtext p {
    margin-bottom: 25px;
    text-align: left;
}

#ninjaform {
    text-align: left;
    padding: 80px 0px;
}

#ninjaform h2 {
    text-align: left;
}

#partner {
    margin-bottom: 80px;
}

#footer-left {
    font-size: 12px;
    text-transform: uppercase;
    line-height: normal;
}

#footermenu-right {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 15px;
}

.expert-info-title {
    text-transform: uppercase;
}

.footerhr {
    border-top: solid 1px #ccc;
    margin: 20px 0;
}

.scrolltop {
    right: 15px;
}

nav#footer-submenu ul li a {
    font-size: 12px;
}

nav.footer-submenu ul li {
    display: inline-block;
    padding-right: 15px;
}

.submenucontainer {
    position: relative;
    width: 100%;
    z-index: 1000;
    background: #007fd0;
    background: -moz-linear-gradient(left, #007fd0 0%, #42acf0 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #007fd0), color-stop(100%, #42acf0));
    background: -webkit-linear-gradient(left, #007fd0 0%, #42acf0 100%);
    background: -o-linear-gradient(left, #007fd0 0%, #42acf0 100%);
    background: -ms-linear-gradient(left, #007fd0 0%, #42acf0 100%);
    background: linear-gradient(to right, #007fd0 0%, #42acf0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007fd0', endColorstr='#42acf0', GradientType=1);
    top: 40px;
}

.copiright {
    float: right;
    font-size: 12px;
    padding-bottom: 60px;
    text-align: right;
}

.copiright span {
    float: right;
}

.copiright img {
    display: block;
}

.submenu ul li:first-child a {
    color: white;
}

.fa-arrow-left:before {
    content: "\f060";
    font-size: 13px;
    padding-right: 13px;
    font-weight: 100;
    color: white;
}

.single-post .subhero {
    background-repeat: no-repeat;
    background-position: center left;
    height: 426px;
}

.submenu ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.single-post .banner-experts-small {
    width: auto;
    margin-top: 109px;
}

.submenu ul li a:hover {
    text-decoration: none;
    color: #012d57;

}

.subhero p {
    float: right;
    color: white;
    margin-right: 100px;
    padding-right: 70px;
    padding-top: 17px;
}

body .vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat {
    background-color: #007fd0;
    padding: 7px 20px;
    font-style: italic;
    text-transform: uppercase;
}

body .vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    border-bottom: 0;
}

.page-id-111 h1, .page-id-105 h1, .page-id-109 h1 {
    margin-top: -35px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blue-title-bg .expert-info-title.dark-blue h2 {
    color: white;
}

.page-template-page-with-header-img .subhero,
.page-template-vallalati-egeszseg .subhero,
.page-template-vallalati-egeszseg-aloldalak .subhero {
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 440px;
    background-size: cover;
}

.page-template-default .subhero,
.page-template-pharma .subhero,
.page-template-pharma-aloldalak .subhero,
.page-template-pharma-uzletag .subhero,
.page-template-nezetkozi-rovosi-szakvelemeny .subhero {
    background-repeat: no-repeat;
    background-position: left bottom;
    /*height: 344px;*/
    height: 340px;
    background-size: cover;
}

.page-template-page-with-header-img section.subhero-section.blue-degree-bg {
    margin-bottom: 0;
}

.custom-contentbox {
    background: #dbeefd;
    background: -moz-linear-gradient(left, #dbeefd 0%, #f4f6f7 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #dbeefd), color-stop(100%, #f4f6f7));
    background: -webkit-linear-gradient(left, #dbeefd 0%, #f4f6f7 100%);
    background: -o-linear-gradient(left, #dbeefd 0%, #f4f6f7 100%);
    background: -ms-linear-gradient(left, #dbeefd 0%, #f4f6f7 100%);
    background: linear-gradient(to right, #dbeefd 0%, #f4f6f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbeefd', endColorstr='#f4f6f7', GradientType=1);
}

nav#footermenu-left ul li a, .footer-submenu ul li a {
    color: #6b6766;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.wpb_text_column.wpb_content_element .fa-arrow-right:before {
    color: #337ab7;
}

@media (max-width: 767px) {

    .vc_grid.vc_row.vc_grid-gutter-30px .vc_pageable-slide-wrapper {
        margin-right: 0 !important;
    }

    .page-template-page-with-header-img .subhero {
        background-position: center bottom;
    }

    .subhero p {
        display: none;
    }

    .navbar-nav > li > a {
        padding-top: 4px;
    }

    .wpb_text_column.wpb_content_element.vc_custom_1494429130981.custom-contentbox {
        padding: 15px !important;
    }

    .page-id-105 .subhero {
        background-size: 28.1%;
    }

    .submenu ul li {
        padding: 5px 0;
    }

    .slogen {
        position: absolute;
        top: 145px;
        right: initial;
        text-align: center;
    }

    .slogen img {
        max-width: 80%;
    }

    #our-vision > div > div > div:nth-child(1) {
        height: 380px;
    }

    #our-vision, #mapsection {
        background-color: #eaeef7;
        padding: 130px 0 40px;
    }

    .home-box-txt.dark-grey.box-2-left {
        margin-top: 275px;
    }

    #testimonials {
        padding: 130px 0 60px;
    }

    body {
        font-size: 15px;
        line-height: 20px;
    }

    .navbar-admed {
        padding: 5px 0;
    }

    .navbar-admed.affix {
        padding: 0px 0;
    }

    .navbar-brand {
        margin-top: 11px;
        /*margin-left: 8px !important;*/
    }

    .affix .navbar-brand {
        margin-top: 11px;
    }

    .copiright {
        float: none;
        text-align: left;
    }

    .ninjaform {
        padding-left: 0px;
    }

    .fa.fa-phone {
        right: 0;
    }

    .home-box-txt {
        width: 100%;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        text-align: center;
        margin-top: 50px;
    }

    .page-id-12 .subhero, .page-id-24 .subhero, .page-id-103 .subhero, .page-id-105 .subhero, .page-id-109 .subhero, .page-id-107 .subhero, .page-id-111 .subhero, .page-id-84 .subhero, .page-id-91 .subhero, .page-id-98 .subhero, .page-id-274 .subhero {
        margin-top: 71px;
        /*height: 273px;*/
        height: 344px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    section.subhero-section.blue-degree-bg {
        /*height: 344px;*/
        height: 410px;
        margin-bottom: initial;
    }

    .submenucontainer {
        top: 0;
    }

    .page-template-page-with-header-img .subhero, .page-template-vallalati-egeszseg .subhero, .page-template-vallalati-egeszseg-aloldalak .subhero {
        height: 410px;
    }

    .expert-info-title-txt {
        float: left;
    }

    #circles-box, .expertopinion-subtitle, .expertopinion-title, #expert-infofaq, .opinion-slider-wrapp, .wrapp, .expert-info-title-txt, #expertopinion-box {
        width: initial;
    }

    #expert-infofaq{
        padding-top:0;
    }

    .home-btn {
        margin-bottom: 20px;
    }

    #expert-infofaq-txt {
        font-size: 16px;
    }

    .opinion-slider-txt {
        width: initial;
        margin-left: initial;
        margin-right: initial;
    }

    .contact-box-content {

        float: left;
        width: 86%;
    }

    .orvosi-szakvelemeny .col-md-3, .page-id-105 .col-md-3 {
        min-height: initial;
        padding-top: 1px;
    }

    .container .boxes-1 {
        background: url("img/home-box.jpg");
    }

    .container div.home-box-txt.dark-grey {
        margin-top: 25px !important;
    }

    .expert-info-title-txt-left {
        column-count: initial;
        -webkit-column-count: initial;
        -moz-column-count: initial;
        -o-column-count: initial;
    }

    .expertopinion-title {
        line-height: 33px;
    }

    #expertopinion-box {
        height: 630px;
    }

    #circles-box {
        height: initial;
    }

    .expert-info-title {
        font-size: 24px;
        padding: 20px 0;
    }

    .expertopinion-title {
        font-size: 24px;
    }

    .opinion-slider-txt {
        font-size: 20px;
        padding: 0 15px;
    }

    .wpb_text_column.wpb_content_element.vc_custom_1494429300788.custom-contentbox {
        padding: 15px !important;
    }

    .page-id-105 .subhero {
        background-size: 109%;
    }
}

@media (min-width: 768px) {

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sensoractive {
        padding-top: 62px;
    }

    h1 {
        font-size: 30px;
    }

    .orvosi-szakvelemeny .col-md-3 .title {
        position: relative;
        min-height: 89px;
    }

    .smfxt {
        position: fixed;
        top: 60px;
    }

    .submenu ul li {
        display: inline;
        float: left;
        padding: 15px 30px;
        font-size: 12px;
    }

    .footerlogo {
        float: right;
    }

    .nav.navbar-nav.left {
        /*position: absolute;*/
        /*left: 16%;*/
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .page-id-105 .col-md-3 {
        width: 24.4%;
    }
}

@media (min-width: 1200px) {
    .page-id-105 .col-md-3 {
        width: 24.6%;
    }

    .scrolltop {
        right: auto;
        margin-left: 1113px;
    }

    .copiright img {
        padding-left: 87px;
    }
}

/*
 * vallalati-egeszseg-subpagecontent
 */
.vallalati-egeszseg-hero {
    background: url(img/vallalati-egeszseg/vallalati-egeszseg-hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-position-y: 40%;
    height: 55vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.vallalati-egeszseg-herobottom {
    margin-bottom: 55vh;
}

.vallalati-egeszseg-hero .slogen img.advance-medical-logo {
    width: 330px;
}

.vallalati-egeszseg-subpagecontent .wrapp-sep {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.vallalati-egeszseg-subpagecontent .wrapp-sep-bg {
    height: 400px;
}

.footer-logo {
    height: 25px;
}


@media (max-width: 1200px) {
    .navbar-nav > li > a {
        padding-left: 8px;
        padding-right: 8px;
    }
}
